:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-image: url("../assets/herman.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 45%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0px;
}

/* Seção de entrada */
.input-section {
    box-sizing: border-box;
    flex: 60%;
    background-color: #000957;
    background-position: center;
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-button);
    padding: 0px 0 0 0;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: #577BC1;
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    gap: 4px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    box-sizing: border-box;
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ol {
    box-sizing: border-box;
    color: var(--color-button);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
    text-align: center;
    word-break: break-word;
}

ul {
    box-sizing: border-box;
    list-style-type: none;
    color: var(--color-button);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    word-break: break-word;
}

.result-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
    width: auto;
    justify-content: center;
}

.titulo-time {
    color: white;
    margin-bottom: 8px;
    white-space: nowrap;
}

.container-resultados {
    justify-content: center;
    display: flex;
    gap: 30%;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 18px;
}

.button-draw img {
    box-sizing: border-box;
    margin-right: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.imagem_x {
    width: 34px;
    height: 35px;
}

@media (max-width: 454px) {

    body {
        box-sizing: border-box;
        background-image: url("../assets/herman.png");
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .result-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 0px;
        color: #05DF05;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        width: auto;
    }

    .input-section {
        box-sizing: border-box;
        background-color: #000957;
        background-position: center;
        border: 1px solid #000;
        border-radius: 64px 64px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        width: 100%;
    }

    .container-resultados {
        box-sizing: border-box;
        justify-content: center;
        display: flex;
        gap: 5%;
        width: auto;
        padding: 0%;
    }

    .main-content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .button-container {
        box-sizing: border-box;
        width: auto;
        justify-content: center;
        display: flex;
        gap: 2%;
        padding: 2%;
    }

    .button-draw {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 2% 6%;
        color: var(--color-white);
        background-color: var(--color-button);
        font-size: 1rem;
    }

    .imagem_x {
        width: auto;
    }

    .input-wrapper {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: auto;
        max-width: 600px;
        margin-top: 2%;
    }

    .button-add {
        background-color: var(--color-tertiary);
        color: var(--color-text);
        border-radius: 0 25px 25px 0;
        width: 70%;
        padding: 2% 5%;
    }

    .button-draw img {
        box-sizing: border-box;
        margin-right: 5%;
    }

    ol {
        box-sizing: border-box;
        color: var(--color-button);
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        margin: 20px 0;
        font-weight: 600;
        text-align: center;
        padding-left: 0;
    }

    ul {
        box-sizing: border-box;
        list-style-type: none;
        color: var(--color-button);
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        margin: 20px 0;
        text-align: center;
        word-break: break-word;
    }
}